.flex {
  display: flex;

  &.cell {
    flex: 1;
  }

  &.equal-sizing {
    > * {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  &.flex-column {
    flex-direction: column;
  }

  &.flex-column-reverse {
    flex-direction: column-reverse;
  }

  &.flex-column,
  &.flex-column-reverse {
    &.top {
      align-content: flex-start;
    }

    &.bottom {
      align-content: flex-end;
    }

    &.vertical-center {
      align-content: center;
    }

    &.space-between {
      align-content: space-between;
    }

    &.space-around {
      align-content: space-around;
    }
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-row-reverse {
    flex-direction: row-reverse;
  }

  &.flex-row,
  &.flex-row-reverse {
    &.wrap {
      flex-flow: row wrap;
    }

    &.top {
      align-items: flex-start;
    }

    &.bottom {
      align-items: flex-end;
    }

    &.vertical-center {
      align-items: center;
    }

    &.baseline {
      align-items: baseline;
    }

    &.stretch {
      align-items: stretch;
    }
  }

  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}
